<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @registration.name %>
</p>

<p>
  <strong>Plate Number:</strong>
  <%= @registration.plateNum %>
</p>

<p>
  <strong>State:</strong>
  <%= @registration.state %>
</p>

<p>
  <strong>Email:</strong>
  <% found = @registration.email.index('@') %>
  <% front = @registration.email[0,found] %>
  <%= @registration.email.gsub(/#{Regexp.escape(front)}@/, '####@') %>
</p>

<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
