<h1>Listing plate_accounts</h1>

<table>
  <thead>
    <tr>
      <th>State</th>
      <th>Plate num</th>
      <th>Email</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @plate_accounts.each do |plate_account| %>
      <tr>
        <td><%= plate_account.state %></td>
        <td><%= plate_account.plate_num %></td>
        <td><%= plate_account.email %></td>
        <td><%= plate_account.name %></td>
        <td><%= link_to 'Show', plate_account %></td>
        <td><%= link_to 'Edit', edit_plate_account_path(plate_account) %></td>
        <td><%= link_to 'Destroy', plate_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plate account', new_plate_account_path %>
