<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @plate_account.state %>
</p>

<p>
  <strong>Plate num:</strong>
  <%= @plate_account.plate_num %>
</p>

<p>
  <strong>Email:</strong>
  <%= @plate_account.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @plate_account.name %>
</p>

<%= link_to 'Edit', edit_plate_account_path(@plate_account) %> |
<%= link_to 'Back', plate_accounts_path %>
